<div class="text-center mt-10">
  <h1 class="text-3xl font-bold mb-8">Pie-Chart</h1>
  
  <div id="pie-chart" phx-update="ignore" class="inline-block"></div>
</div>

<script>
  window.pieChartData = <%= raw Jason.encode!(@pie_data) %>;
</script>

<script src="/assets/app.js"></script>
