version: "3"

services:
  db:
    image: "mysql"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_pw
      MYSQL_USER: tattle
      MYSQL_PASSWORD: tattle_pw
      MYSQL_DATABASE: uli_dev
    ports:
      - 3306:3306
    volumes:
      - "~/data/ogbv_plugin/db:/var/lib/mysql"
  db_gui:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  api-server:
    container_name: api-server
    build:
      context: api-server
      dockerfile: Dockerfile
    depends_on:
      - db
    command: tail -f /dev/null
    ports:
      - 3000:3000
    volumes:
      - "./api-server:/app"
    env_file:
      - "./api-server/development.env"

  # ogbv-ml-rest:
  #   container_name: ogbv-ml-rest
  #   build:
  #     context: ../ogbv-ml-rest
  #     dockerfile: Dockerfile
  #   restart: always
  #   volumes:
  #     - "~/data/ogbv_plugin/assets:/app/assets"
  #     - "~/data/ogbv_plugin/ml-cache:/root/.cache/huggingface/transformers"
  #   ports:
  #     - 8081:80
  #   environment:
  #     DB_HOST: db
  #     DB_PORT: 3306
  #     DB_USERNAME: tattle
  #     DB_PASSWORD: tattle_pw
