AWS_ACCESS_KEY_ID=randomsecretkeyid
AWS_SECRET_ACCESS_KEY=randomsecretkey
# DATABASE_HOSTNAME must be "db" - that's the db service's name on the
# compose network, not localhost.
DATABASE_HOSTNAME=db
DATABASE_NAME=uli_community_prod
DATABASE_PASSWORD=weak_password
DATABASE_USER=uli_community
PHX_HOST=localhost
PHX_SERVER=true
PORT=4000
POOL_SIZE=10
# Any random secret key. Can be generated with "mix phx.gen.secret"
SECRET_KEY_BASE=SomeRandomSecretKeyjjdjd
SLACK_WEBHOOK_URL=randomwebhookurl
# This is used to avoid configuring AWS email adapter, and plug the Swoosh adapter instead. 
MAILER_ADAPTER=local